body {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Figtree", sans-serif;
}


section {
    width: 325px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding:  15px 25px 15px 15px;
    
}

section button {
    
    background-color: hsl(47, 88%, 63%);
    display: block;
    padding: 5px;
    font: 9px;
    font-weight: bold;
    border: none;
}

section h1 {
    margin-top: 4px;
    font-size: 16px;
}


section p {
    
    font-size: 12px;
}

section p.date {

    margin-bottom: 1px;
}
section p.author {
    
    font-size: 10px;
    font-weight: bold;
}

section .headerimg {
    
    border-radius: 15px;
    margin-bottom: 10px;
    
}
footer {

    display: flex;
    gap: 10px;    
    /* justify-content: center; */
    align-items: center;
}

 p {
    
    color:  hsl(0, 0%, 50%);

}

footer img {
    width: 40px;
    height: auto;
}